.our-team {
  @include section;

  background-color: #f5f4fa;
}

.items {
  @media screen and (min-width: 768px){
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: 1200px){
   flex-wrap: nowrap;
  }
}

.items .item {
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

    @media screen and (max-width: 1199px) {
      flex-basis: calc((100% - 30px) / 2);
    }
}

.items .item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

// .items .item:not(:last-child) {
//     margin-right: 30px;
 
// }

.items .title-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.items .text-item {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--text-color);
}

.team {
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team .title-item {
  margin-bottom: 10px;
}
